<div class="sidenav-container" [ngClass]="{'open': isSidenavOpen}">
    <h3 class="streak-text">MindfulMinutes Streak Count</h3>
    <div class="streak-circle">
        <img src="assets/target.png" alt="target_icon" width="30px" height="30px">
        <span>{{day_count}} / 30</span>
    </div>
    <div class="completed-section">
        <h5>Completed</h5>
        <div class="section">
            <div class="link" (click)="openCompletedQuotes();">
                <img src="assets/quotes_icon.png" alt="quotes_icon">
                <a>Quotes</a>
            </div>
        </div>
        <div class="section">
            <div class="link" (click)="openCompletedExercises();">
                <img src="assets/breath_icon.png" alt="breathing_icon">
                <a>Breathing Exercises</a>
            </div>
        </div>
        <div class="section">
            <div class="link" (click)="openCompletedJournals();">
                <img src="assets/journal_icon.png" alt="journal_icon">
                <a>Gratitude Journaling</a>
            </div>
        </div>
    </div>
    <div class="general-section">
        <h5>General</h5>
        <div class="section">
            <a href="#" class="link">
                <img src="assets/logout_icon.png" alt="logout_icon">
                <a href="#">Logout</a>
            </a>
        </div>
    </div>
</div>
