<header class="header">
    <button class="menu-toggle" (click)="toggleMenu()">
        <span class="menu-icon">☰</span>
    </button>
    <img src="assets/Logo.png" alt="Logoo" style="width: 50px;">
    <nav class="navbar" [ngClass]="{'open': isMenuOpen}">
        <a href="#home">Home</a>
        <a href="#about">About Us 4</a>
        <a href="#articles">Articles</a>
    </nav>
    <div class="buttons">
        <a href="#register-block" class="btn" id="login-btn">Log In</a>
        <a href="#register-block" class="btn" id="signup-btn">Sign Up</a>
    </div>
</header>